# Dependencies
/node_modules
/jspm_packages

# Optional npm cache files
.npm

# Output of \'npm pack\'
*.tgz
*.tar.gz

# dotenv environment variables file
.env
.env.local

# Editor/OS files
.DS_Store
Thumbs.db